#container{
    border: solid black 1px;
    height: 400px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.lien1 {
    width: 100px;
    height: 80px;
    background-color: #22dbd9;
}

.lien2{
    width: 100px;
    height: 80px;
    background-color: blue;
}

.lien3{
    width: 100px;
    height: 80px;
    background-color: purple;
}

.lien4{
    width: 100px;
    height: 80px;
    background-color: orange;
}

.lien5{
    width: 100px;
    height: 80px;
    background-color: red;
}