#container{
    border: solid black 1px;
    height: 320px;
    width: 320px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: lightgrey;
    justify-content: space-evenly;
}

.un{
    height: 75px;
    width: 75px;
    background-color: #22dbd9;
}

.deux{
    height: 75px;
    width: 75px;
    background-color: #4040d5;
}

.trois{
    height: 75px;
    width: 75px;
    background-color: violet;
}
.quatre{
    height: 75px;
    width: 75px;
    background-color: orange;
}

.cinq{
    height: 75px;
    width: 75px;
    background-color: red;
   flex-basis: 98%;
}

.six{
    height: 75px;
    width: 75px;
    background-color: #22dbd9;

}

.sept{
    height: 75px;
    width: 75px;
    background-color: #4040d5;
}

.huit{
    height: 75px;
    width: 75px;
    background-color: violet;
}

.neuf{
    height: 75px;
    width: 75px;
    background-color: orange;
}